<div class="column">
    <span class="tituloModal">Area Encounters</span>
    <div *ngIf="detalhesEncontro.length > 0">
        <div *ngFor="let area of detalhesEncontro" style="margin-bottom: 10px;">
            <mat-card>
                <mat-card-header>
                    <span class="tituloCard">{{tratarNome(area.location_area.name)}}</span>
                </mat-card-header>
                <mat-card-content></mat-card-content>
            </mat-card>
        </div>
    </div>
    <div *ngIf="detalhesEncontro.length === 0">
        <div class="column" style="align-items: center; justify-content: center; height: 200px;">
            <mat-icon style="font-size: 30px; margin-bottom: 5px;">info</mat-icon>
            <span style="font-size: 20px; font-weight: 500;">Informações não encontradas</span>
        </div>
    </div>
</div>