<div class="column">
    <mat-card style="max-width: 905px;">
        <mat-card-header style="margin-left: -30px;">
            <div class="row">
                <img [src]="urlImagem">
                <span style="margin-top: 20px;">{{tratarNome(pokemon.name)}}</span>
            </div>
        </mat-card-header>
        <mat-card-content style="overflow-x: auto;">
            <div class="row">
                <div *ngFor="let status of detalhes.stats" style="margin-left: 5px;">
                    <div class="row">
                        <mat-card class="status">
                            <mat-card-content>
                                <div class="column">
                                    <span>{{tratarNome(status.stat.name)}}</span>
                                    <span style="text-align: center;">{{status.base_stat}}</span>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="column" style="margin-left: 10px;">
                    <button mat-raised-button>Abilities</button>
                    <button mat-raised-button>Attacks</button>
                </div>
                <div class="column">
                    <button mat-raised-button>Area Encounters</button>
                    <button mat-raised-button>Games</button >
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
