/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    --primary: #386DAB;
}

.page {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

*::-webkit-scrollbar {
    width: auto;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 20px;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #EE121A;
    border-radius: 20px;
    width: 50px;
    border: 2px solid #FFCB08;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.tituloModal {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.tituloCard {
    font-size: 15px;
    font-weight: 600;
}

mat-divider {
    border: 1px solid black;
}

mat-card {
    box-shadow: none;
    border: 1px solid #525252;
    padding: 0;
    padding-left: 6px;
    padding-right: 6px;
}