/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    --primary: #386DAB;
}

.page {
    margin-top: 20px;
    margin-left: 5%;
}

*::-webkit-scrollbar {
    width: auto;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 20px;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #EE121A;
    border-radius: 20px;
    width: 50px;
    border: 3px solid #FFCB08;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

mat-divider {
    border: 1px solid black;
}