.titulo {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

mat-card {
    background-color: #525252;
    border: 1px solid #525252;
    width: 130px;
    height: 120px;
    margin-left: 5px;
}

mat-card:hover {
    background-color: #FFF;
    border: 1px solid #525252;
}

.tituloCard {
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
}

mat-card:hover .tituloCard {
    color: black;
    font-size: 15px;
    font-weight: 500;
}

.carrossel {
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 30px;
}

img {
    position: relative;
    left: 20px;
    border-radius: 100%;
}

mat-form-field {
    width: 200px;
}