mat-card {
    box-shadow: none;
    border: 1px solid #525252;
    padding: 0;
    padding-left: 6px;
    padding-right: 6px;
}

.tituloCard {
    font-size: 15px;
    font-weight: 600;
}

img {
    width: 60px;
}